@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}


.note-editor-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.note-editor {
    width: 40%;
    height: max-content;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    transition: 0.7s;
}

.editor-title {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.editor-input {
    width: 100%;
    border: none;
    font-size: 20px;
    border-bottom: 3px solid #c6c6c6;
    margin: 20px 0;
}

.editor-input:focus {
    outline:none;
    border-bottom: 3px solid rgb(0, 14, 104);
}

.editor-text {
    border: 3px solid #c6c6c6;
    resize: none;
    width: -webkit-fill-available;
    height: 20vw;
    padding: 10px;
    font-size: 15px;
}

.editor-text:focus {
    outline: none;
    border: 3px solid rgb(0, 14, 104);
}

.editor-content {
    height: 40%;
}

@media screen and (max-width: 600px) {
    .note-editor {
        width: 60%;
    }
    
    .editor-text {
        border: 3px solid #c6c6c6;
        resize: none;
        width: -webkit-fill-available;
        height: 60vw;
        padding: 10px;
        font-size: 15px;
    }
}