.btn {
    padding: 0 25px;
    height: 50px;
    background: rgb(0, 14, 104);
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: 0.7s;
    font-size: 22px;
}

.btn:hover {
    background: #ffffff;
    color: rgb(0, 14, 104);
    border: 1px solid rgb(0, 14, 104);
    cursor: pointer;
}

.btn:focus {
    outline: none;
}